.header__languages {
    display: flex;
    align-items: flex-end;
    gap: 18px;
    margin-bottom: 6px;
}
@media screen and (max-width: 767px) {
    .header__languages {
        margin-bottom: 8px;
    }
}