@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-Regular.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-Black.otf);
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-ExtraBold.otf);
    font-style: normal;
    font-weight: 700;

}