@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__languages/header__languages.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_ru/header__lang-link_ru.css);
@import url(../blocks/header/__lang-link/_eng/header__lang-link_eng.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list/_number/intro__list_number.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__list/photo-grid__list.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/place/place.css);
@import url(../blocks/places/place/__title/place__title.css);
@import url(../blocks/places/place/__url/place__url.css);
@import url(../blocks/places/place/__url/_heading/place__url_heading.css);
@import url(../blocks/places/place/__link/place__link.css);
@import url(../blocks/places/place/__paragraphes/place__paragraphes.css);
@import url(../blocks/places/place/__paragraph/place__paragraph.css);
@import url(../blocks/places/place/__paragraph/_up/place__paragraph_up.css);
@import url(../blocks/places/place/__image/place__image.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@media screen and (min-width: 1280px){
    .lead {
        margin-top: 56px;
        padding-left: 148px;
        padding-right: 148px;
    }
    .lead__subtitle {
        margin-bottom: 64px;
    }
    .lead__image {
        width: 984px;
    }
    .intro {
        padding-left: 148px;
        padding-right: 442px;
    }
    .places {
        padding-left: 148px;
        padding-right: 148px;
    }
    .place {
        column-gap: 40px;
    }
    .place__title {
        width: 460px;
    }
    .place__image {
        width: 460px;
    }
    .place__paragraph {
        width: 484px;
    }
    .photo-grid__list {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }
    .photo-grid__item {
        max-width: 284px;
    }
    .cover__overlay {
        padding-left: 48px;
        padding-right: 48px;
    }
    .cover__title {
        top: 245px;
    }
    .cover__subtitle {
        top: 429px;
    }
}
@media screen and (min-width: 1024px) and (max-width:1279px){
    .place__image {
        width: 440px;
    }
    .photo-grid__item {
        max-width: 300px;
    }
}
@media screen and (min-width: 768px) and (max-width:1023px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
    .lead__image {
        box-sizing: content-box;
        padding-left: 0;
        padding-right: 0;
    }
    .lead__caption {
        padding-left: 24px;
    }
    .intro {
        margin-top: 88px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .photo-grid {
        margin-top: 88px;
        margin-bottom: 88px;
    }
    .photo-grid__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
    }
    .photo-grid__item {
        max-width: 352px;
    }
    .places {
        padding-left: 24px;
        padding-right: 24px;
        row-gap: 73px;
    }
    .place__title {
        font-size: 42px;
        line-height: 46px;
        width: 340px;
    }
    .place__paragraph {
        font-size: 16px;
        width: 352px;
    }
    .place__paragraph_up {
        margin-bottom: 25px;
    }
    .cover {
        margin-top: 90px;
        margin-bottom: 88px;
    }
    .cover__title {
        top: 115px;
    }
    .cover__subtitle {
        top: 299px;
    }
}
@media screen and (max-width: 767px) {
    .header {
        padding: 16px 16px 0 16px;
    }
    .header__logo {
        max-width: 142px;
    }
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .lead__title{
        font-size: 40px;
        line-height: 44px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
        margin-bottom: 40px;
    }
    .lead__image {
        box-sizing: content-box;
        padding-right: 0;
        padding-left: 0;
    }
    .lead__caption {
        padding-left: 18px;
    }
    .intro {
        margin-top: 64px;
        max-width: 100%;
        box-sizing: border-box;
        padding-left: 16px;
        padding-right: 16px;
    }
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
    .photo-grid {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .photo-grid__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
    }
    .photo-grid__item {
        max-width: 288px;
    }
    .places {
        row-gap: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .place {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "title"
        "url"
        "image"
        "paragraphes";
        row-gap: 32px;
    }
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .place__image {
        max-width: 320px;
    }
    .place__paragraphes {
        padding-left: 16px;
        padding-right: 16px;
    }
    .place__url {
        padding-left: 16px;
        padding-right: 16px;
    }
    .place__paragraph {
        max-width: 288px;
    }
    .place__paragraph_up {
        margin-bottom: 25px;
    }
    .cover {
        margin-top: 66px;
        margin-bottom: 64px;
    }
    .cover__title {
        top: 33px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
    .cover__subtitle {
        top: 119px;
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
    .footer__copyright {
        line-height: 14px;
        justify-self: flex-start;
        padding-top: 16px;
    }
}