@font-face {
    font-family: 'Inter-Regular';
    src: url(c:\Users\Егор\Desktop\Inter\Inter-Regular.otf);
}
@font-face {
    font-family: 'Inter-Black';
    src: url(c:\Users\Егор\Desktop\Inter\Inter-Black.otf);
}
@font-face {
    font-family: 'Inter-Bold';
    src: url(c:\Users\Егор\Desktop\Inter\Inter-Bold.otf);
}