.place__paragraphes {
    grid-area: paragraphes;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
@media screen and (max-width: 767px) {
    .place__paragraphes {
        padding-left: 16px;
        padding-right: 16px;
    }
}